.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 10px ridge grey;
  background-color: gainsboro;
}
.panel-header, .panel-footer {
  padding: 50px;
}
.header-text {
  text-align: center;
}
.interaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.champion-search, .btn {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}
.btn {
  cursor: pointer;
}
.btn:active {
  background-color: darkgrey;
}
::placeholder {
  text-align: center;
}
.footer-text {
  font-size: x-small;
  text-align: center;
}
.middle-panel {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 10px ridge grey;
  background-color: gainsboro;
}
.right-panel {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 10px ridge grey;
  background-color: gainsboro;
}

/* SearchView Styles */
.searched-champion-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.img-container {
  width: 128px;
  height: 128px;
  border: 4px ridge goldenrod;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* AddMatchupView Styles */